<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteApp_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemoteApp_Tool.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SavedConnectionModeMSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedOpenWithNotepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedServerPort" serializeAs="String">
                <value>3389</value>
            </setting>
            <setting name="SavedAltServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedUseRDGateway" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedRDGatewayAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedAttemptDirectRDGateway" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedMSIShortcutDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedMSIShortcutStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedMSIShortcutStartTopLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedUseShortcutTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedShortcutTag" serializeAs="String">
                <value>remote</value>
            </setting>
            <setting name="SavedClientConnectionOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedCreateRAWebIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedMSIPerUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedDisableFTA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedSignRDP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedSignedAndUnsigned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedCertSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedRDPOptions" serializeAs="String">
                <value />
            </setting>
        </RemoteApp_Tool.Properties.Settings>
    </userSettings>
</configuration>